<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
        修改密码
    </div>
</div>
<div ng-controller="ChangePasswordCtrl" style="padding-top: 50px;">
    <div class="hpanel hgreen">

        <div class="panel-body">
            <form name="submitForm">
                <div class="form-group">
                    <label>旧密码<span class="txt-mandatory">*</span></label>
                    <input name="oldPassword" type="password" class="form-control" ng-model="data.OldPassword" required />
                    <div class="m-t-xs" ng-show="submitForm.oldPassword.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.oldPassword.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入旧密码
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>新密码<span class="txt-mandatory">*</span></label>
                    <input name="newPassword" type="password" class="form-control" ng-model="data.NewPassword" required />
                    <div class="m-t-xs" ng-show="submitForm.newPassword.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.newPassword.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入新密码
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>确认密码<span class="txt-mandatory">*</span></label>
                    <input name="confimPassword" type="password" class="form-control" ng-model="data.ConfirmPassword" required />
                    <div class="m-t-xs" ng-show="submitForm.confimPassword.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.confimPassword.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入确认密码
                        </span>
                    </div>
                    <div class="m-t-xs" ng-show="data.ConfirmPassword!=null && data.ConfirmPassword!='' && data.NewPassword!=data.ConfirmPassword">
                        <span class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;两次输入的密码不一致
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-success" style="width: 100%" ng-click="save(submitForm)">提交</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/wwwroot/scripts/weixin_app.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>

    <script src="~/wwwroot/scripts/controllers/weixin/changepassword.js"></script>
}
