<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
        宴请登记
    </div>
</div>
<div ng-controller="DinnerRegisterCtrl" style="padding-top: 50px;">
    <div class="hpanel hgreen">

        <div class="panel-body">
            <form name="submitForm">
                <div class="form-group">
                    <label>申领部门<span class="txt-mandatory">*</span></label>
                    <input name="department" type="text" class="form-control" ng-model="data.Department" required />
                    <div class="m-t-xs" ng-show="submitForm.department.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.department.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入领用部门
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>宴请地点<span class="txt-mandatory">*</span></label>
                    <select name="place" class="form-control" ng-model="data.PlaceID" ng-options="item.ID as item.Place for item in dinnerPlaces" required>
                        <option value="">--- 请选择 ---</option>
                    </select>
                    <div class="m-t-xs" ng-show="submitForm.place.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.place.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请选择宴请地点
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>宴请类型<span class="txt-mandatory">*</span></label>
                    <select name="place" class="form-control" ng-model="data.TypeID" ng-options="item.ID as item.Type for item in dinnerTypes" required>
                        <option value="">--- 请选择 ---</option>
                    </select>
                    <div class="m-t-xs" ng-show="submitForm.place.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.place.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请选择宴请类型
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>宴请人数<span class="txt-mandatory">*</span></label>
                    <input name="peopleCount" type="number" class="form-control" ng-model="data.PeopleCount" required/>
                    <div class="m-t-xs" ng-show="submitForm.peopleCount.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.peopleCount.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入宴请人数
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>宴请时间<span class="txt-mandatory">*</span></label>
                    <input name="registeredOn" type="datetime-local" class="form-control" ng-model="data.DinnerDate" required/>
                    <div class="m-t-xs" ng-show="submitForm.registeredOn.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.registeredOn.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入宴请时间
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>备注<span class="txt-mandatory">*</span></label>
                    <textarea rows="3" name="comment" class="form-control" ng-model="data.Comment" placeholder="酒水种类、人均标准" required></textarea>
                    <div class="m-t-xs" ng-show="submitForm.comment.$invalid && submitForm.$submitted">
                        <span class="text-danger" ng-show="submitForm.comment.$error">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入备注
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-success" style="width: 100%" ng-click="save(submitForm)">提交</button>
                <div class="weixin_more" ng-if="hasHistories">
                    <a href="DinnerRegisterHistories#?isown=true">我的宴请记录</a>
                </div>
                <div class="weixin_more" ng-if="isExternalPersonnelDiningManager">
                    <a href="DinnerRegisterHistories#?isown=false">所有宴请记录</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/wwwroot/scripts/weixin_app.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>

    <script src="~/wwwroot/scripts/controllers/weixin/dinnerregister.js"></script>
}
