<div ng-controller="DinnerRegisterHistoriesCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            {{isOwn?"我的申请记录":"所有申请记录"}}
        </div>
    </div>
    <div style="padding-top: 50px;">
        <div class="hpanel " ng-repeat="item in ::histories">
            <div class="panel-heading hbuilt" ng-class="{'hhgred':item.Status == 1}">
                <div class="panel-tools" ng-if="!item.IsRead && isExternalPersonnelDiningManager">
                    <button class="btn btn-success btn-xs" ng-click="read(item.ID)">确认</button>
                </div>
                <i class="panel-icon fa fa-info-circle"></i>&nbsp;<span ng-bind="item.Status == 0 ? '已登记' : '已取消'"></span>
            </div>
            <div class="panel-body list">
                <table class="table table-bordered table-hover nowrap" width="100%">
                    <tbody>
                        <tr>
                            <td style="width: 50%">
                                <strong>申请部门</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Department"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%">
                                <strong>宴请地点</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Place"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>宴请类型</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Type"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>宴请人数</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.PeopleCount"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>宴请时间</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.DinnerDate | date : 'yyyy-MM-dd hh:mm'"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>备注</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Comment"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>登记人</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Staff"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>登记时间</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.RegisteredOn | date : 'yyyy-MM-dd hh:mm'"></span>
                            </td>
                        </tr>
                        <tr ng-if="item.Status == 1">
                            <td>
                                <strong>取消人</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.CancelledStaff"></span>
                            </td>
                        </tr>
                        <tr ng-if="item.Status == 1">
                            <td>
                                <strong>取消时间</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.CancelledOn | date : 'yyyy-MM-dd hh:mm'"></span>
                            </td>
                        </tr>
                        <tr ng-if="item.IsRead">
                            <td>
                                <strong>确认人</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.ReadStaff"></span>
                            </td>
                        </tr>
                        <tr ng-if="item.IsRead">
                            <td>
                                <strong>确认时间</strong>
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.ReadTime | date : 'yyyy-MM-dd hh:mm'"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/wwwroot/scripts/weixin_app.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>

    <script src="~/wwwroot/scripts/controllers/weixin/dinnerregisterhistories.js"></script>
}

