<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
        员工优惠
    </div>
</nav>
<div class="container" style="padding-top: 70px;">
    <div style="position: relative; margin: 0 auto; width: 320px; height: 414px; background-image: url(../wwwroot/images/employeediscount_bg.png);">
        <div style="width: 75px; height: 60px; position: absolute; top: 20px; left: 115px;" onclick="window.location.href = 'employeediscounts#?t=0'"></div>
        <div style="width: 75px; height: 60px; position: absolute; top: 75px; left: 55px;" onclick="window.location.href = 'employeediscounts#?t=1'"></div>
        <div style="width: 75px; height: 60px; position: absolute; top: 75px; left: 195px;" onclick="window.location.href = 'employeediscounts#?t=2'"></div>
        <div style="width: 75px; height: 60px; position: absolute; top: 160px; left: 85px;" onclick="window.location.href = 'employeediscounts#?t=3'"></div>
        <div style="width: 75px; height: 60px; position: absolute; top: 160px; left: 175px;" onclick="window.location.href = 'employeediscounts#?t=4'"></div>
    </div>
</div>
@section scripts {
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/wwwroot/scripts/weixin_app.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>
}
