<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
        互动
    </div>
</div>
<div class="content" ng-controller="InteractiveCtrl" style="padding-top: 70px;">
    <div class="hpanel hgreen">

        <div class="panel-body">
            <div class="media social-profile clearfix">
                <div class="media-body">
                    <h5>赵旭明</h5>
                    <small class="text-muted">2016-7-27 11:11</small>
                </div>
                <div class="social-content m-t-md">
                    测试互动
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-form">
                <input class="form-control" placeholder="评论"/>
            </div>
        </div>
    </div>
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <div class="media-body">
                    <small>赵旭明</small><br/>
                    <small>16.02.2015, 08:34 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖
            测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖
        </div>
        <div class="panel-footer">
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-form">
                <input class="form-control" placeholder="评论"/>
            </div>
        </div>
    </div>
    <div class="hpanel blog-box">
        <div class="panel-heading">
            <div class="media clearfix">
                <div class="media-body">
                    <small>赵旭明</small><br />
                    <small>16.02.2015, 08:34 pm</small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖
            测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖测试互动发帖
        </div>
        <div class="panel-footer">
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-talk">
                <div class="media social-profile clearfix">
                    <div class="media-body">
                        <span class="font-bold">赵旭明</span>
                        <span class="text-muted">2016-7-27 11:11</span>
                    </div>
                    <div class="social-content">
                        asdfasdfasdfasdfasdf
                    </div>
                </div>
            </div>
            <div class="social-form">
                <input class="form-control" placeholder="评论" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/wwwroot/scripts/weixin_app.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>

    <script src="~/wwwroot/scripts/controllers/weixin/dinnerregister.js"></script>
}
