<div id="navigation">
    <div class="profile-picture">

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Pete He</span>
            <ul>
                <li>
                    <div class="dropdown" uib-dropdown>
                        <a uib-dropdown-toggle class="dropdown-toggle" href="#">
                            <small>Smartfleet Administrator&nbsp;<b class="caret"></b></small>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs" uib-dropdown-menu>
                            <li><a href="#">Smartfleet Administrator</a></li>
                            <li><a href="#">System Administrator</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown" uib-dropdown>
                        <a uib-dropdown-toggle class="dropdown-toggle" href="#">
                            <small>Australian Home Care&nbsp;<b class="caret"></b></small>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs" uib-dropdown-menu>
                            <li><a href="#">Australian Home Care</a></li>
                            <li><a href="#">Camberwell (800 00)</a></li>
                            <li><a href="#">Community Nursing (110 03)</a></li>
                            <li><a href="#">Community Operations Management (785 10)</a></li>
                            <li><a href="#">Community Relations &Aacute; Marketing (790 00)</a></li>
                            <li><a href="#">Gippsland (230 10)</a></li>
                        </ul>
                    </div>
                </li>
                <li><small>Australian Home Care</small></li>
            </ul>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="customer.dashboard"><span class="nav-icon fa fa-home fa-lg"></span><span class="nav-label">Dashboard</span></a>
        </li>
        <li ng-class="{'active': $state.includes('app_views') || $state.includes('blog_details')}">
            <a href="#"><span class="nav-icon fa fa-lg fa-cogs"></span><span class="nav-label">系统设置</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{'in': $state.includes('app_views') || $state.includes('blog_details')}">
                <li ui-sref-active="active"><a ui-sref="admin.admins">系统管理员</a></li>
                <li ui-sref-active="active"><a ui-sref="common.login">内部员工管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">宴请地点管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">宴请类型管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">物品管理</a></li>
            </ul>
        </li>
        <li ng-class="{'active': $state.includes('app_views') || $state.includes('blog_details')}">
            <a href="#"><span class="nav-icon fa fa-user fa-lg"></span><span class="nav-label">行政服务</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{'in': $state.includes('app_views') || $state.includes('blog_details')}">
                <li ui-sref-active="active"><a ui-sref="app_views.contacts">外部人员就餐管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">宴请管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">闲置资产管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app_views.projects">物品借用管理</a></li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('charts')}">
            <a href="#"><span class="nav-icon fa fa-car"></span><span class="nav-label">服务查询</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                <li ui-sref-active="active"><a ui-sref="customer.vehicles">无锡周边</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.flot">协议酒店管理</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.inline">代驾管理</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.chartist">员工优惠管理</a></li>
            </ul>
        </li>
    </ul>
</div>