<div class="p-m">
    <button id="sidebar-close" class="sidebar-button btn btn-default m-b-md" ng-click="$root.rightSidebar = false"><i
            class="pe pe-7s-close"></i>
    </button>
    <div>
        <span class="font-bold no-margins">Shortcut</span>
    </div>
    <ul class="rightside-list no-margins">
        <li>
            <a href="#"><i class="fa fa-car text-success"></i>&nbsp;Create New Vehicle</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-user text-success"></i>&nbsp;Create New System User</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-user text-success"></i>&nbsp;Create New Driver</a>
        </li>
    </ul>
</div>
<div class="p-m bg-light border-bottom border-top">
    <span class="font-bold no-margins">Search Vehicle</span>
    <div class="m-t-md">
        <div class="form-group">
            <label>Search By</label>
            <select class="form-control">
                <option selected>Registration</option>
                <option>Driver</option>
                <option>Customer Vehicle ID</option>
                <option>Cost Centre</option>
                <option>Tender ID</option>
                <option>Parking Permit/Bay Number</option>
            </select>
        </div>
        <div class="form-group">
            <label>Search Value</label>
            <input type="text" class="form-control" />
        </div>
        <button class="btn btn-success"><i class="fa fa-search"></i>&nbsp;Search</button>
    </div>
</div>