
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title></title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css" />

    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/customize.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            代驾
        </div>
    </div>
    <div ng-controller="DesignatedDriversCtrl" style="padding-top: 50px;">
        <div class="hpanel" ng-repeat="item in :: designatedDrivers">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                <i class="panel-icon fa fa-info-circle"></i>&nbsp;<span ng-bind="item.DriverName"></span>
            </div>
            <div class="panel-body list">
                <div>
                    <table class="table table-bordered table-hover nowrap" width="100%" style="margin-bottom: 0;">
                        <tbody>
                            <tr>
                                <td style="width: 30%">
                                    <strong>服务范围</strong>
                                </td>
                                <td colspan="2">
                                    <span ng-bind="item.ServiceArea"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>公务需求</strong>
                                </td>
                                <td colspan="2">
                                    <span ng-bind="item.BusinessRequirement"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>联系电话</strong>
                                </td>
                                <td colspan="2">
                                    <span ng-bind="item.ContactPhone"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> 个人需求</strong>
                                </td>
                                <td colspan="2">
                                    <span ng-bind="item.PersonalRequirement"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>代驾热线</strong>
                                </td>
                                <td colspan="2">
                                    <span ng-bind="item.DrivingPhone"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <strong> 价格</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-bind="item.CustomFirstColumn"></span>
                                </td>
                                <td style="width: 35%">
                                    <span ng-bind="item.CustomSecondColumn"></span>
                                </td>
                                <td>
                                    <span ng-bind="item.CustomThirdColumn"></span>
                                </td>
                            </tr>
                            <tr ng-repeat="price in ::item.Prices">
                                <td>
                                    <span ng-bind="price.Distance"></span>
                                </td>
                                <td>
                                    <span ng-bind="price.FirstTimePeriodsPrice"></span>
                                </td>
                                <td>
                                    <span ng-bind="price.SecondTimePeriodsPrice"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 7]>
            <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-resource/angular-resource.js"></script>

    <script src="../../scripts/weixin_app.js"></script>
    <script src="../../scripts/api.js"></script>
    <script src="../../scripts/config.http.js"></script>

    <script src="../../scripts/controllers/weixin/designateddrivers.js"></script>
</body>
</html>