<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title></title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../lib/sweetalert2/sweetalert2.css" />

    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/customize.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            宴请登记
        </div>
    </div>
    <div ng-controller="DinnerRegisterCtrl" style="padding-top: 50px;">
        <div class="hpanel hgreen">
            
            <div class="panel-body">
                <form name="submitForm">
                    <div class="form-group">
                        <label>宴请地点<span class="txt-mandatory">*</span></label>
                        <select name="place" class="form-control" ng-model="data.PlaceID" ng-options="item.ID as item.Place for item in dinnerPlaces" required>
                            <option value="">--- 请选择 ---</option>
                        </select>
                        <div class="m-t-xs" ng-show="submitForm.place.$invalid && submitForm.$submitted">
                            <span class="text-danger" ng-show="submitForm.place.$error">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;请选择宴请地点
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>宴请类型<span class="txt-mandatory">*</span></label>
                        <select name="place" class="form-control" ng-model="data.TypeID" ng-options="item.ID as item.Type for item in dinnerTypes" required>
                            <option value="">--- 请选择 ---</option>
                        </select>
                        <div class="m-t-xs" ng-show="submitForm.place.$invalid && submitForm.$submitted">
                            <span class="text-danger" ng-show="submitForm.place.$error">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;请选择宴请类型
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>宴请人数<span class="txt-mandatory">*</span></label>
                        <input name="peopleCount" type="number" class="form-control" ng-model="data.PeopleCount" required/>
                        <div class="m-t-xs" ng-show="submitForm.peopleCount.$invalid && submitForm.$submitted">
                            <span class="text-danger" ng-show="submitForm.peopleCount.$error">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入宴请人数
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>宴请时间<span class="txt-mandatory">*</span></label>
                        <input name="registeredOn" type="datetime" class="form-control" ng-model="data.RegisteredOn" required/>
                        <div class="m-t-xs" ng-show="submitForm.registeredOn.$invalid && submitForm.$submitted">
                            <span class="text-danger" ng-show="submitForm.registeredOn.$error">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入宴请时间
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <textarea rows="3" class="form-control" ng-model="data.Comment"></textarea>
                    </div>
                    <button type="button" class="btn btn-success" style="width: 100%" ng-click="save(submitForm)">提交</button>
                </form>
            </div>
        </div>
    </div>

    <!--[if lt IE 7]>
            <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-resource/angular-resource.js"></script>
    <script src="../../lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="../../scripts/weixin_app.js"></script>
    <script src="../../scripts/api.js"></script>
    <script src="../../scripts/config.http.js"></script>
    <script src="../../scripts/factories.js"></script>

    <script src="../../scripts/controllers/weixin/dinnerregister.js"></script>
</body>
</html>