<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title></title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../lib/sweetalert2/sweetalert2.css" />

    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/customize.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            外部人员就餐登记
        </div>
    </div>
    <div ng-controller="ExternalPersonnelDiningRegisterCtrl" style="padding-top: 50px;">
        <div class="hpanel hgreen">
            
            <div class="panel-body">
                <form name="submitForm">
                    <div class="form-group">
                        <label>饭卡数量<span class="txt-mandatory">*</span></label>
                        <input name="cardQuantity" type="text" class="form-control" ng-model="data.CardQuantity" required />
                        <div class="m-t-xs" ng-show="submitForm.cardQuantity.$invalid && submitForm.$submitted">
                            <span class="text-danger" ng-show="submitForm.cardQuantity.$error">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;请输入饭卡数量
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <textarea rows="3" class="form-control" ng-model="data.Comment"></textarea>
                    </div>
                    <button type="button" class="btn btn-success" style="width: 100%" ng-click="save(submitForm)">提交</button>
                    <div class="weixin_more" ng-if="hasHistories">
                        <a href="externalpersonneldiningregisterhistories.html">我的用餐记录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--[if lt IE 7]>
            <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-resource/angular-resource.js"></script>
    <script src="../../lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="../../scripts/weixin_app.js"></script>
    <script src="../../scripts/api.js"></script>
    <script src="../../scripts/config.http.js"></script>
    <script src="../../scripts/factories.js"></script>

    <script src="../../scripts/controllers/weixin/externalpersonneldiningregister.js"></script>
</body>
</html>