<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title></title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css" />

    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/customize.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            员工优惠
        </div>
    </nav>
    <div class="container" style="padding-top: 70px;">
        <ul class="list-group">
            <li class="list-group-item text-center" onclick="window.location.href = 'employeediscounts.html#?t=0'">衣</li>
            <li class="list-group-item text-center" onclick="window.location.href = 'employeediscounts.html#?t=1'">食</li>
            <li class="list-group-item text-center" onclick="window.location.href = 'employeediscounts.html#?t=2'">住</li>
            <li class="list-group-item text-center" onclick="window.location.href = 'employeediscounts.html#?t=3'">行</li>
            <li class="list-group-item text-center" onclick="window.location.href = 'employeediscounts.html#?t=4'">健</li>
        </ul>
    </div>
</body>
</html>