<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page-title></title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.css" />

    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="../../fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/customize.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container text-center text-white" style="line-height: 50px; font-size: 14px;">
            闲置资产
        </div>
    </div>
    <div ng-controller="IdleAssetsCtrl" style="padding-top: 50px;">
        <div class="hpanel" ng-repeat="asset in ::idleAssets">
            <div class="panel-heading hbuilt">
                <i class="panel-icon fa fa-list"></i>&nbsp;<span ng-bind="asset.area"></span>
            </div>
            <div class="panel-body list">
                <table class="table table-bordered table-hover nowrap" width="100%" ng-repeat="item in ::asset.items">
                    <tbody>
                        <tr>
                            <td style="width: 50%">
                                <strong>闲置物品</strong>
                            </td>
                            <td class="text-center">
                                <strong><span ng-bind="item.Item"></span></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                数量
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.Quantity+item.Unit"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                管理负责人
                            </td>
                            <td class="text-center">
                                <span ng-bind="item.ManagerStaff"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span ng-bind="item.Comment == null || item.Comment == '' ? '无' : item.Comment"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--[if lt IE 7]>
            <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-resource/angular-resource.js"></script>

    <script src="../../scripts/weixin_app.js"></script>
    <script src="../../scripts/api.js"></script>

    <script src="../../scripts/controllers/weixin/idleassets.js"></script>
</body>
</html>