<div ng-controller="CustomerMainCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Vehicle Summary</h4>
                            </div>
                            <div class="flot-chart m-t-lg" style="height: 120px">
                                <div flot class="flot-chart-pie-content" dataset="pie.vehicleData" options="pie.chartOptions" style="height: 120px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Tender Summary</h4>
                            </div>
                            <div class="flot-chart m-t-lg" style="height: 120px">
                                <div flot class="flot-chart-pie-content" dataset="pie.tenderData" options="pie.chartOptions" style="height: 120px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Vehicle Booking Summary</h4>
                            </div>
                            <div class="flot-chart m-t-lg" style="height: 120px">
                                <div flot class="flot-chart-pie-content" dataset="pie.vehicleBookingData" options="pie.chartOptions" style="height: 120px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Infringement Report</h4>
                            </div>
                            <div class="flot-chart m-t-lg" style="height: 120px">
                                <div flot class="flot-chart-pie-content" dataset="pie.infringementData" options="pie.chartOptions" style="height: 120px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div panel-tools></div>
                            <i class="fa fa-reorder"></i>&nbsp;Reports Summary
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="font-bold">Recommendation Reports</span>
                                            </td>
                                            <td><span ng-class="{'text-info':data.RecommendationReports.Level==1,'text-success':data.RecommendationReports.Level==2,'text-danger':data.RecommendationReports.Level==3}">{{::data.RecommendationReports.Text}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="font-bold">Toll Reports</span>
                                            </td>
                                            <td><span ng-class="{'text-info':data.TollReports.Level==1,'text-success':data.TollReports.Level==2,'text-danger':data.TollReports.Level==3}">{{::data.TollReports.Text}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="font-bold">Fuel Reports</span>
                                            </td>
                                            <td><span ng-class="{'text-info':data.FuelReports.Level==1,'text-success':data.FuelReports.Level==2,'text-danger':data.FuelReports.Level==3}">{{::data.FuelReports.Text}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-heading hbuilt panel-heading-bg-yellow">
                    <div panel-tools></div>
                    <i class="fa fa-warning"></i>&nbsp;Warning
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover ul-none">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-bold">Odometer Reading Warning</span>
                                    </td>
                                    <td><span ng-class="{'text-info':data.OdometerReadingWarning.Level==1,'text-success':data.OdometerReadingWarning.Level==2,'text-danger':data.OdometerReadingWarning.Level==3}">{{::data.OdometerReadingWarning.Text}}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Vehicle Registration Warning</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.VehicleRegistrationWarning">
                                                <span ng-class="{'text-info':item.Level==1,'text-success':item.Level==2,'text-danger':item.Level==3}">{{item.Text}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Lease Expiry Warning</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.LeaseExpiryWarning">
                                                <span ng-class="{'text-info':item.Level==1,'text-success':item.Level==2,'text-danger':item.Level==3}">{{item.Text}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Infringement Warning</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.InfringementWarning">
                                                <span ng-class="{'text-info':item.Level==1,'text-success':item.Level==2,'text-danger':item.Level==3}">{{item.Text}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Account Code Warning (No Codes Assigned)</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.AccountCodeWarning">
                                                <span ng-class="{'text-info':item.Level==1,'text-success':item.Level==2,'text-danger':item.Level==3}">{{item.Text}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Payment Percentage Warning (Less than 100%)</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.PaymentPercentageWarning">
                                                <span ng-class="{'text-info':item.Level==1,'text-success':item.Level==2,'text-danger':item.Level==3}">{{item.Text}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="hpanel">
                <div class="panel-heading hbuilt panel-heading-bg-yellow">
                    <div panel-tools></div>
                    <i class="fa fa-warning"></i>&nbsp;Account Manager Warning
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover ul-none">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-bold">Recommendation</span>
                                    </td>
                                    <td>
                                        <span ng-class="{'text-info':data.RecommendationWarning.Level==1,'text-success':data.RecommendationWarning.Level==2,'text-danger':data.RecommendationWarning.Level==3}">{{::data.RecommendationWarning.Text}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Contract</span>
                                    </td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="item in ::data.ContractWarning">
                                                {{item.Text}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-bold">Monthly Fee</span>
                                    </td>
                                    <td>
                                        <span ng-if="data.MonthlyFeeWarning.length == 0">All monthly fees have been approved.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div panel-tools></div>
                    <i class="fa fa-bullhorn"></i>&nbsp;Your Messages
                </div>
                <div class="panel-body list">
                    <div class="row">
                        <div class="col-md-6 m-b-md">
                            <button class="btn btn-success btn-sm">Acknowledge All</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="::dtOptions" dt-column-defs="::dtMessageColumnDefs"  class="table table-bordered table-hover nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th data-priority="1">From</th>
                                    <th data-priority="3">Subject</th>
                                    <th data-priority="5">Comment</th>
                                    <th data-priority="4">Time</th>
                                    <th data-priority="2">Acknowledged</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ::data.Messages">
                                    <td>
                                        {{item.From}}
                                    </td>
                                    <td>
                                        {{item.Subject}}
                                    </td>
                                    <td data-hide="phone,tablet">{{item.Comment}}</td>
                                    <td>{{item.Time}}</td>
                                    <td><a class="btn btn-success btn-xs">Acknowledged</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div panel-tools></div>
                    <i class="fa fa-tags"></i>&nbsp;Customer Instructions
                </div>
                <div class="panel-body list">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="::dtOptions" class="table table-bordered table-hover nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Category</th>
                                    <th>Instruction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ::data.CustomerInstructions">
                                    <td>
                                        {{item.Subject}}
                                    </td>
                                    <td>
                                        {{item.Category}}
                                    </td>
                                    <td>{{item.Instruction}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>