<div class="splash">
    <div class="color-line"></div>
    <div class="splash-title">
        <h1>万科微信管理平台</h1>
        <p>正在努力加载，请稍后......</p>
        <img src="~/wwwroot/images/loading-bars.svg" width="64" height="64" />
    </div>
</div>

<div ui-view autoscroll="true"></div>

@section scripts{
    <script src="~/wwwroot/lib/jquery/jquery.js"></script>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/wwwroot/lib/angular-resource/angular-resource.js"></script>
    <script src="~/wwwroot/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/wwwroot/lib/metisMenu/metisMenu.js"></script>
    <script src="~/wwwroot/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/wwwroot/lib/flot/jquery.flot.js"></script>
    <script src="~/wwwroot/lib/flot/jquery.flot.pie.js"></script>
    <script src="~/wwwroot/lib/angular-flot/angular-flot.js"></script>
    <script src="~/wwwroot/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/wwwroot/lib/datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/wwwroot/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/wwwroot/lib/datatables-responsive/js/responsive.bootstrap.js"></script>
    <script src="~/wwwroot/lib/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="~/wwwroot/lib/datatables-buttons/js/buttons.bootstrap.js"></script>
    <script src="~/wwwroot/lib/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="~/wwwroot/lib/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/wwwroot/lib/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/wwwroot/lib/angular-datatables/angular-datatables.js"></script>
    <script src="~/wwwroot/lib/angular-datatables/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="~/wwwroot/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/wwwroot/lib/ng-file-upload/ng-file-upload.js"></script>

    <script src="~/wwwroot/scripts/initialization.js"></script>
    <script src="~/wwwroot/scripts/app.js"></script>
    <script src="~/wwwroot/scripts/config.route.js"></script>
    <script src="~/wwwroot/scripts/config.http.js"></script>
    <script src="~/wwwroot/scripts/directives.js"></script>
    <script src="~/wwwroot/scripts/factories.js"></script>
    <script src="~/wwwroot/scripts/auth.js"></script>
    <script src="~/wwwroot/scripts/api.js"></script>

    <script src="~/wwwroot/scripts/controllers/login.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/staffs.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/staffedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/dinnertypes.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/dinnertypeedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/mealtypes.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/mealtypeedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/dinnerplaces.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/dinnerplaceedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/items.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/itemedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/itemstorageareas.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/itemstorageareaedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/itemstorageplaces.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/itemstorageplaceedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/settings/settings.js"></script>
    <script src="~/wwwroot/scripts/controllers/services/itemborrowhistories.js"></script>
    <script src="~/wwwroot/scripts/controllers/services/idleassets.js"></script>
    <script src="~/wwwroot/scripts/controllers/services/idleassetedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/services/externalpersonneldiningregisterhistories.js"></script>
    <script src="~/wwwroot/scripts/controllers/services/dinnerregisteredhistories.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/designateddrivers.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/designateddriveredit.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/surroundingservices.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/surroundingserviceedit.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/employeediscounts.js"></script>
    <script src="~/wwwroot/scripts/controllers/query/employeediscountedit.js"></script>
}