<div class="row" ng-controller="VehiclesCtrl">
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div panel-tools></div>
            <i class="panel-icon fa fa-search"></i>Filters
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label>Search By</label>
                    <select class="form-control">
                        <option selected>Registration</option>
                        <option>Driver</option>
                        <option>Customer Vehicle ID</option>
                        <option>Cost Centre</option>
                        <option>Tender ID</option>
                        <option>Parking Permit/Bay Number</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-inline margin-top-10">
                <div class="form-group">
                    <label>Business Unit</label>
                    <select class="form-control">
                        <option selected>Canberwekk (800 00)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Site</label>
                    <select class="form-control">
                        <option selected>All Sites</option>
                        <option>1096 Toorak Rd, Camberwell</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                        <option selected>Current Vehicles</option>
                        <option>In Auction Vehicles</option>
                        <option>In Auction Vehicles</option>
                        <option>In Tender Vehicles</option>
                        <option>New Vehicles</option>
                        <option>Disposed Vehicles</option>
                        <option>All Status</option>
                    </select>
                </div>
                <button class="btn btn-success"><i class="fa fa-search"></i>&nbsp; Display</button>
            </div>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div panel-tools></div>
            <i class="panel-icon fa fa-list"></i>Vehicles
        </div>
        <div class="panel-body list">
            <div class="row">
                <div class="col-md-6 m-b-md">
                    <button ui-sref="customer.vehicleedit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Create</button>
                </div>
            </div>
            <div class="table-responsive">
                <table datatable="" dt-options="::dtOptions" dt-columns="::dtColumns" class="table table-bordered table-hover nowrap" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>